body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
}

@media screen and (min-width: 200px) {
}

/* to set carousel height */

.carousel-inner {
  width: 100%;
  max-height: 1000px !important;
}

.box1 {
  position: absolute;
  /* width: 34.04vw; */
  border-bottom: 2.55vw solid #5a98bf;
  left: 0px;
  top: 0px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-right: 15px solid transparent;
  white-space: no-wrap;
  text-align: center;
  max-width: 200px;
  min-width: 34.04vw;
  display: inline-block;
}

.iconHeaderRibbon {
  position: absolute;
  color: #fff;
  /* width: 1.064vw; */
  height: 2.94vh;
  left: 4.223vw;
  top: 0.833vw;
  /* bottom:2.3vh; */
  padding: 0;
  font-size: 1vw;
  min-width: 1.064vw;
  max-width: 200px;
}

.textIconHeaderRibbon {
  position: absolute;
  /* width: 5.1vw; */
  width: auto;
  font-size: 0.85vw;
  color: #fff;
  left: 5.63vw;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  top: 0.75vw;
  /* line-height:calc(8px + 5vh); */
  padding: 0;
  /* identical to box height, or 200% */
}

.mailIconHeaderRibbon {
  position: absolute;
  /* left:13.65vw; */
  left: 16.5vw;
  width: 1.064vw;
  height: 2.94vh;
  /* right: 8.33%; */
  top: 0.833vw;
  font-size: 1vw;
  padding: 0;
  /* bottom: 16.67%; */
}

.textMailIconHeaderRibbon {
  position: absolute;
  /* width: 5.1vw; */
  width: auto;
  font-size: 0.85vw;
  color: #fff;
  /* left:15.063vw; */
  left: 18.2978vw;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  top: 0.75vw;
  /* line-height:calc(8px + 5vh); */
  padding: 0;
  /* identical to box height, or 200% */
}

.navbar {
  position: absolute;
  top: 3vw;
  width: 96%;
  font-family: "Arial";
  font-style: normal;
  margin-left: 2.7vw !important;
  /* margin-right: 1000px;  */
  justify-content: left;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/* tulisan navbar */

.navbar-dark .navbar-nav .active > .nav-link {
  color: #5a98bf;
  font-weight: 2000;
  /* font-size: 2rem; */
  /* line-height: 26px;  */
  font-size: 2vw;
  line-height: 1.38vw;
}

.logoAsik {
  width: 5.32vw;
  height: 5.32vw;
  border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.logoAsik:nth-child(1) {
  margin-left: 0;
}

.searchBox {
  /* SearchBox */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 14px;
  position: absolute;
  width: 11.44vw;
  height: 2.13vw;
  left: auto;
  right: 2em;
  top: 0.85vw;
  background: transparent;
  /* white */
  border: 1px solid #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: right;
  /* background */
  background-image: url(./asset/Icon/magnifying-glass-solid.svg);
  /* padding-left:25px; */
  background-repeat: no-repeat;
  background-position: 1vw;
  background-size: 1vw;
  color: #ffffff;
  text-align: left;
  padding: 0.5rem;
  padding-left: 2.5rem;
}

.form-control::placeholder {
  color: white;
  font-size: 0.75vw;
}

.form-inline .searchBox:active,
.form-inline .searchBox:focus,
.form-inline .searchBox:focus:active {
  /* SearchBox */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 14px;
  position: absolute;
  width: 11.44vw;
  height: 2.13vw;
  left: auto;
  right: 2em;
  top: 0.85vw;
  background: transparent;
  /* white */
  border: 1px solid #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: right;
  /* background */
  background-image: url(./asset/Icon/magnifying-glass-solid.svg);
  /* padding-left:25px; */
  background-repeat: no-repeat;
  background-position: 1vw;
  background-size: 1vw;
  color: #ffffff;
  text-align: left;
  padding: 0.5rem;
  padding-left: 2.5rem;
}

.form-inline .searchBox {
  display: inline-block;
  width: 11.44vw;
  vertical-align: middle;
  font-size: 0.75vw;
}

/* tinggi gambar carousel */
.carousel-inner {
  height: 42.55vw;
}

.containernya {
  display: flex;
}

.nav-item {
  /* justify-content: space-evenly; */
  display: flex;
  font-family: "Arial";
  font-style: normal;
  font-weight: 600;
  font-size: 1.28vw;
  line-height: 1.38vw;
}

.customJumboTron {
  /* Frame 4 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.53vw;
  gap: 0.53vw;
  position: absolute;
  width: 38.62vw !important;
  height: 11.28vw !important;
  left: 1.6vw;
  top: 10.63vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  background-color: transparent !important;
  color: #ffffff;
}

.textHeaderJumboTron {
  width: 37.55vw;
  height: 10.212vw;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.55vw !important;
  line-height: 3.617vw;
  /* or 133% */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.customeLead {
  width: 36.28vw;
  height: 5.106vw;

  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.27vw;
  line-height: 1.7vw;

  /* or 133% */

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar-toggler {
  width: 2vw;
  height: 2vw;
  margin: 0;
  margin-left: 0.5vw;
}
.navbar-toggler-icon {
  background-image: none;
  width: 0;
  height: 0;
}

.buttonHubungiKami {
  /* Frame 2 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.85vw 1.382vw;
  gap: 0.0531vw;

  position: absolute;
  width: 11.436170212766vw;
  height: 3.40425531914894vw;
  left: 3.13829787234043vw;
  top: 30.85vw;

  /* biru muda garuda */
  background: #5a98bf;
  box-shadow: 0px 0.213vw 0.213vw rgba(0, 0, 0, 0.15);
  border-radius: 1.06382978723404vw;

  font-family: "Nunito", sans-serif;
  font-style: normal;
  /* width: 163px;
  height: 32px; */
  font-weight: 400;
  font-size: 1.27659574468085vw;
  line-height: 1.70212765957447vw;

  /* identical to box height, or 133% */

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.rectangle {
  /* Rectangle 208 */

  position: absolute;
  width:100%;
  height: 0.851063829787234vw;
  left: 0px;
  top: 42.5531914893617vw;

  /* biru muda garuda */
  background: #5a98bf;
}

.rectangleProgramKami {
  /* Rectangle 336 */

  position: absolute;
  width: 1366px;
  height: 4705px;
  left: 0px;
  top: 815px;
  z-index: -1;
  background: #ffffff;
}

.textProgramUnggulan {
  /* Program Unggulan */

  /* position: absolute; */
  width: 20.16vw;
  height: 3.14vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.7vw;

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.08vw;
  line-height: 3.14vw;

  /* identical to box height, or 150% */

  /* Co - Headline/Tittle */
  color: #163063;
}

/* bentuk bulatan di program unggulan start */
.progress {
  width: 47.021vw;
  height: 47.0212vw;
  line-height: 47.0212vw;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  /* margin-top:62px; */
  z-index: -1;
  position: absolute;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* .progress .progress-left {
  left: 0;
} */
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 3.404vw;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%; /* UX Design */

  position: absolute;
  width: 128px;
  height: 38px;
  left: 188px;
  top: 1070px;

  /* H4 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;

  /* identical to box height, or 150% */

  /* Co - Headline/Tittle */
  color: #163063;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
/* .progress .progress-right {
  right: 0;
} */
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 37.2340425531915vw;
  border-bottom-left-radius: 37.2340425531915vw;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
/* .progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
} */
.progress.blue .progress-bar {
  border-color: #5a98bf;
}
.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar {
  border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar {
  border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar {
  border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
/* bentuk bulatan di program unggulan end */
.customCard {
  /* Rectangle 192 */

  /* position: absolute; */
  width: 25.53vw;
  height: 20.43vw;
  /* height: auto; */
  left: 18.957446809vw;
  /* right:30vw; */
  /* top: 6.914vw; */
  padding: 0;
  justify-items: space-around;
  margin: 0;
  /* Whit */
  background: #ffffff;
  display: inline-block;
  /* Effect-1 */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5319vw;
  /* align-items: center; */
}
.card {
  padding: 15px;
  display: flex;
}

.card-columns{
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  
  grid-auto-rows: auto;
  grid-gap: 2rem;
  /* grid-column-gap: 4.255vw; */
  /* grid-row-gap: 10px; */
  overflow: hidden;
}


.customCardTitle {
  /* UX Design */
  /* position: absolute; */
  width: 10.8085vw;
  height: 2.0212vw;
  left: 1.32978723404255vw;
  margin-bottom: 1vw;
  /* H4 */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.32978723404255vw;
  text-align: center;
  /* line-height: 2.0212vw; */
  /* identical to box height, or 150% */
  /* Co - Headline/Tittle */
  color: #163063;
  
}
.cardBodyCustom {
  /* margin-top: 1.64893617021277wv; */
  padding: 0 !important;
  /* height:500px; */
  margin-bottom: 0;
  
}


.customCardSub {
  /* Mobile App, Website */

  /* position: absolute; */
  width: 6.80851063829787vw;
  height: 1.06382978723404vw;
  left: 1.32978723404255vw;
  /* margin-top: 4.265957446808511vw; */
  margin: 0;
  /* H7 */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.6808510638298vw;
  line-height: 1.01063829787234vw;

  /* identical to box height, or 150% */

  /* Co - Headline/Tittle */
  color: #163063;
}


.customCardText {
  /* position: absolute; */
  width: 17.2872340425532vw;
  height: 4.09574468085106vw;
  left: 1,329787234vw;
  /* margin-top: 9,521276596vw; */
  /* margin: 0; */
  margin-bottom:2vw;
  text-align: justify;
  /* H6 */
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.851063829787234vw;
  line-height: 1.27659574468085vw;

  /* or 150% */

  /* Co - Headline/Tittle */
  color: #163063;
}

.btnCustom {
  /* Rectangle 65 */

  /* position: absolute; */

  /* Co - Primary */
  background: #5a98bf;
  border-radius: 0.265957446808511vw;
  /* Read More */
  width:8,510638298vw !important;
  height:2,14787234vw !important;

  /* position: absolute; */
  /* left: 11.11%; */
  /* right: 35.89%; */
  /* top: 26%; */
  /* bottom: 24%; */

  /* H5-20px */
  font-family: "Work Sans", sans-serif;
  font-size: 1.06382978723404vw;
  line-height: 123.6%;
  margin :0;
  /* or 25px */

  /* White */
  color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .card {
  color: white;
  float: left;
  width: calc(50% - 163px);
  left:163px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  height: 200px;
} */
/* .card p {
  font-size: 18px;
} */
/* .cardContainer:after {
  content: "";
  display: table;
  clear: both;
} */

/* 
@media screen and (max-width: 600px) {
  .card {
     width: 35%;
  }
} */
